.robot-wrapper{
  background-color: rgb(58, 133, 88);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
 }

.robot-head{
  font-size: 30px;
  background-color: rgb(166, 105, 171);
  border-radius:100px;
  padding: 10px;
  height: 200px;
  box-sizing: border-box;
  color: rgb(152, 217, 210);
  width: 200px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.robot-hat{
  background-color: rgb(53, 68, 226);
  margin: 15px;
  color: white;
  min-width: 200px;
  height: 100px;
  border: 2px solid black;
  border-radius: 20px;
}

.robot-body{
  background-color: rgb(53, 68, 226);
  text-align: center;
  width: 180px;
  padding: 5px;
  margin: 20px;
}

.buttons{
  background-color: rgb(92, 255, 63);
  padding: 20px;
  margin: 10px;
  cursor: pointer;
  border-radius: 25px;
}

.robot-text{
  background-color: rgb(53, 68, 226);
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }

 .robot-mouth-text{
  text-align: center;
  display: flex;
  flex-direction: column;
 }

.mouth-button{
  background-color: red;
  color: rgb(33, 214, 242);
  height: 50px;
  width: 100px;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}

.button-text{
  display: flex;
  justify-content: center;
  align-items: center;
}

